body{
	color: #333333;
	font-family: Raleway;
}

a{
	color: #333333;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1{
	padding-right: 450px;
}

.header_logo{
	width: 130px;
}

.container{
	margin: 20px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container_button{
	cursor: pointer;
	background: #333333;
	color: white;
	border: none;
	width: 200px;
	height: 50px;
	margin-bottom: 30px;
}

.container_a_delete{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #333333;
	width: 200px;
	height: 50px;
}

.container form.delete_nav{
	background: blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	width: 500px;
}

table{
	width: 85%;
}

thead{
	background: #333333;
	color: white;
	height: 50px;
}

tbody{
	text-align: center;
}

td{
	padding: 10px 0;
}

form{
	text-align: center;
}

.container h2.delete{
	margin: 0;
}

.container p.delete{
	font-size: 20px;
}

@media screen and (max-width: 480px){
	body{
		margin: 0;
	}
	header{
		justify-content: space-around;
	}

	header h1{
		padding: 0;
		font-size: 18px;
	}

	.header_logo{
		width: 80px;
		height: 80px;
	}

	table{
		width: 100%;
	}

	td, th{
		font-size: 12px;
	}
}

